/*Start of index page*/

.home {
  background-color: gray !important;
}

.navbar {
  background-color: #F05E23 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 100;
}

.navbar-brand,
.nav-link {
  color: white;
  text-decoration: none;
  font-size: large;
}

.navbar-brand:hover{
  color: #141A46 !important;
}

.nav-link:hover {
  color: #141A46 !important;
}

.nav-seperator {
  margin: 5px 20px;
  width: 2px;
  background-color: #141A46;
}

.card {
  height: 176px;
  margin-top: 173px;
  margin-right: 60px;
  margin-left: 30px;
  margin-bottom: -50px;
  padding: 20px;
  bottom: 82px;
  border: #141A46 1px solid !important;
  border-radius: 1.25rem !important;
  box-shadow: -5px 8px #141A46 !important;
  background-color: #f3b267 !important;
  
}

.card-title {
  color: #141A46;
  text-decoration: none;
  font-size: large;
}

.card-text-center:hover {
  color: #141A46;
  text-decoration: none;
}




/*End of index page*/

/*Start of post layout*/

.main-post-page {
  position: relative;
  height: 100vh;
  display: block;
  margin-top: 58px;
  background-image: url("/assets/photo/9coe.gif");
  background-size: 50%;
  
}

.container-mid {
  height: 100%;
  bottom: 0;
  position: relative;
  margin-right: 137px;
  margin-left: 137px;
  background-color: #A57D7D;
  
}



/*End of post layout*/

